.editingContainer {
  display: flex;
  input {
    flex: 1;
    background: var(--input-background);
    color: var(--color-white);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-radius: 99rem 0 0 99rem;
    border: 1px solid transparent;
    font-family: inherit;

    &:focus {
      border: 1px solid #7b8ad4;
      outline: none;
    }

    &::placeholder {
      opacity: 0.5;
      color: var(--font-color-blue);
    }
  }

  button:last-of-type {
    border-radius: 0 99rem 99rem 0;
    padding-right: 0.65rem;
  }
}

.noteText {
  word-break: break-word;
  opacity: 1;
  font-size: 1rem;
  margin-left: 1rem;
  color: #aeb7df;
}
