.day {
  background: var(--background-color);
  border-radius: 1rem;

  h3 {
    font-size: 1.1rem;
    padding: 1rem 1.3rem;
    border-bottom: 1px solid var(--border-color);
    border-radius: 2px 2px 0 0;
    color: var(--font-color-blue);
  }
}
