body {
  margin: 0;
  font-family: Jost, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  background: var(--background-color);
  color: var(--font-color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color-blue);
  margin: 0;
}

:root {
  --background-color: #111f48;
  --background-color-light: #132352;
  --border-color: #202f72;
  --font-color-blue: #597dff;
  --font-color-white: #e6e8ff;
  --gradient: linear-gradient(to top, #223776, #3f3999);
}
