body {
  margin: 1rem;
  font-family: Lato, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background: #0c122b;
  color: var(--font-color-white);
  min-height: 100vh;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color-blue);
  margin: 0;
}

:root {
  --background-color: #2b3566;
  --background-color-light: #132352;
  --border-color: #3a457b;
  --font-color-blue: #7c89c5;
  --font-color-white: #e6e8ff;
  --color-green: #46d5ac;
  --gradient: linear-gradient(to top, #0143d9, #0491a8);
  --input-background: #101428;
}
