.row {
  margin: 0.5rem;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #21284e;
  border-radius: 2rem;
  padding: 0.4rem 0.5rem;
}

.right {
  display: flex;
  align-items: center;

  button {
    width: 2rem;
    height: 1.7rem;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: 1.3rem 1.3rem;
    background-position: center center;
    cursor: pointer;
    opacity: 0.4;

    &:focus {
      outline: 1px solid #7b8ad4;
    }

    &:hover {
      opacity: 1;
    }
  }
}
